* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans';
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 800;
	font-stretch: 100%;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/opensans/v35/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
html {
	scroll-behavior: smooth;
}
body::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("20230629_132749.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	filter: blur(1px);
	z-index: -1;
	pointer-events: none;
}
.container {
	max-width: 200vh;
	margin: auto;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    border-radius: 10px;
    margin: 30px 0;
    background-size: 600% 600%;
	background-color:rgba(38, 38, 38, 0.603);
}
.gradient-text-container {
	position: relative;
	display: inline-block;
}
.gradient-text {
	position: relative;
	z-index: 2;
	font-size: 36px;
	font-weight: bold;
	background: linear-gradient(45deg, #1055f6, #ff2c2c, #ffd041, #008018, #0000F9, #fb1b1b);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}
#porfolio {
	background-color: rgba(38, 38, 38, 0.603);
	margin: 30px 0;
	border-radius: 10px;
	padding: 10px;
}
.product-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-left: 1px;
	margin-right: 1px;
}
.product-card {
	border-radius: 15px;
	padding: 0;
	margin-bottom: 10px;
	background-color: #ffffffb1;
	position: relative;
	overflow: hidden;
	width: 250px;
	height: auto;
	display: inline-block;
	margin-right: 10px;
  }  
  .product-content {
	padding: 0px;
	border: 0px solid transparent;
  }  
  .product-card::after {
	content: "";
	position: absolute;
	top: -1px;
	left: -1px;
	right: -1px;
	bottom: -1px;
	border-radius: 15px;
	background-image: url('aura.gif');
	background-size: cover;
	z-index: -1;
  }  
.product-card-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	padding: 1px;
	transform: scale(0.9);
	transition: transform 0.3s ease;
}
.product-card .image-container {
	max-width: 250px;
	height: 250px;
	border-radius: 15px;
	margin: -10px auto 5px auto;
	display: block;
	box-shadow: 0 8px 16px rgba(98, 98, 98, 0.1);
	overflow: hidden;
	cursor: pointer;
}
.product-card .image-container img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}
.product-card h3 {
	text-align: center;
	margin: 0;
	margin-bottom: 10px;
	font-size: 24px;
	color: #000000;
}
.product-card p {
	text-align: center;
	margin: 0;
	margin-bottom: 10px;
	font-size: 18px;
	color: #0505fb;
	font-weight: bold;
}
.product-card p.price {
	font-size: 20px;
	color: green;
	font-weight: bold;
}
.product-card p.price span {
	color: red;
}
.buy-button {
	display: block;
	width: 150px;
	height: 40px;
	margin: 0 auto;
	margin-top: 10px;
	border: none;
	border-radius: 20px;
	background-color: green;
	color: white;
	font-size: 16px;
	text-align: center;
	line-height: 40px;
	text-decoration: none;
	position: relative;
	overflow: hidden;
}
.payment-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}
.whatsapp-button {
	display: block;
	background-color: #06ae44;
	color: #FFF;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	font-weight: bold;
	border-radius: 5px;
	margin-top: 10px;
}


/* Estilos generales del modal */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal .modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	max-width: 400px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	position: relative;
  }
  
  /* Estilos del botón "Cerrar" */
  .modal .close {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 24px;
	cursor: pointer;
  }
  
  /* Estilos del contenido del modal */
  .modal #modal-producto-nombre {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
  }
  
  .modal #modal-producto-detalles {
	font-size: 16px;
  }
  
  /* Estilos del botón "Ver detalles" específicos para la tarjeta */
  .product-card .ver-detalles-button {
	background-color: #4CAF50;
	color: white;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
  
  .product-card .ver-detalles-button:hover {
	background-color: #45a049;
  }
  
.button-spacing {
	margin-top: 10px; /* Puedes ajustar el valor del margen según tu preferencia */
  }

  