html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    background: transparent;
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    min-width: 0;
    padding: 0;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul,
menu {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

img,
svg {
    display: block
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

:focus,
button,
input,
select,
textarea {
    border: 0;
    margin: 0;
    padding: 0
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/IBMPlexMono-Text.eot");
    src: url("../fonts/IBMPlexMono-Text.eot?#iefix") format("embedded-opentype"), url("../fonts/IBMPlexMono-Text.woff2") format("woff2"), url("../fonts/IBMPlexMono-Text.woff") format("woff");
    font-display: swap
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/IBMPlexMono-TextItalic.eot");
    src: url("../fonts/IBMPlexMono-TextItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/IBMPlexMono-TextItalic.woff2") format("woff2"), url("../fonts/IBMPlexMono-TextItalic.woff") format("woff");
    font-display: swap
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/IBMPlexMono-Medium.eot");
    src: url("../fonts/IBMPlexMono-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/IBMPlexMono-Medium.woff2") format("woff2"), url("../fonts/IBMPlexMono-Medium.woff") format("woff");
    font-display: swap
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-style: italic;
    font-weight: 500;
    src: url("../fonts/IBMPlexMono-MediumItalic.eot");
    src: url("../fonts/IBMPlexMono-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/IBMPlexMono-MediumItalic.woff2") format("woff2"), url("../fonts/IBMPlexMono-MediumItalic.woff") format("woff");
    font-display: swap
}

@font-face {
    font-family: 'Calibre';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/calibre-regular.woff2") format("woff2");
    font-display: swap
}

@font-face {
    font-family: 'Calibre';
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/calibre-regular-italic.woff2") format("woff2");
    font-display: swap
}

@font-face {
    font-family: 'Calibre';
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/calibre-semibold.woff2") format("woff2");
    font-display: swap
}

@font-face {
    font-family: 'Calibre';
    font-style: italic;
    font-weight: 600;
    src: url("../fonts/calibre-semibold-italic.woff2") format("woff2");
    font-display: swap
}

@font-face {
    font-family: 'Calibre';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/calibre-bold.woff2") format("woff2");
    font-display: swap
}

body {
    font-family: 'Calibre', Sans-Serif;
    font-style: normal;
    font-weight: 400;
    background: #F0E7E9;
    color: #261B23;
    font-size: 18px;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: 24px;
    -webkit-tap-highlight-color: rgba(38, 27, 35, 0)
}

body a {
    color: #D30001;
    text-decoration: none;
    transition: color 0.25s cubic-bezier(0.33, 1, 0.68, 1)
}

body button,
body input,
body select,
body textarea {
    font-family: 'Calibre', Sans-Serif;
    font-style: normal;
    font-weight: 400
}

body img {
    display: inline-block;
    height: 40px;
    max-width: 100%;
    vertical-align: middle;
    width: 100%;
}

@media (min-width: 1024px) {
    body {
        font-size: 21px;
        line-height: 26px
    }
}

.container {
    clear: both;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    position: relative;
}

.container:after {
    clear: both;
    content: '';
    display: block;
}

.highlight .c {
    color: #888;
    font-style: italic
}

.highlight .err {
    color: #fff
}

.highlight .g {
    color: #fff
}

.highlight .k {
    color: #fb660a
}

.highlight .l {
    color: #fff
}

.highlight .n {
    color: #fff
}

.highlight .o {
    color: #fff
}

.highlight .x {
    color: #fff
}

.highlight .p {
    color: #fff
}

.highlight .cm {
    color: #888;
    font-style: italic
}

.highlight .cp {
    color: #888;
    font-style: italic
}

.highlight .c1 {
    color: #888;
    font-style: italic
}

.highlight .cs {
    color: #888;
    font-style: italic
}

.highlight .gd {
    color: #fff
}

.highlight .ge {
    color: #fff
}

.highlight .gr {
    color: #fff
}

.highlight .gh {
    color: #fff
}

.highlight .gi {
    color: #fff
}

.highlight .go {
    color: #888
}

.highlight .gp {
    color: #fff
}

.highlight .gs {
    color: #fff
}

.highlight .gu {
    color: #fff
}

.highlight .gt {
    color: #fff
}

.highlight .kc {
    color: #fb660a
}

.highlight .kd {
    color: #fb660a
}

.highlight .kn {
    color: #fb660a
}

.highlight .kp {
    color: #fb660a
}

.highlight .kr {
    color: #fb660a
}

.highlight .kt {
    color: #cdcaa9
}

.highlight .ld {
    color: #fff
}

.highlight .m {
    color: #0086f7
}

.highlight .s {
    color: #0086d2
}

.highlight .na {
    color: #ff0086
}

.highlight .nb {
    color: #fff
}

.highlight .nc {
    color: #fff
}

.highlight .no {
    color: #0086d2
}

.highlight .nd {
    color: #fff
}

.highlight .ni {
    color: #fff
}

.highlight .ne {
    color: #fff
}

.highlight .nf {
    color: #ff0086
}

.highlight .nl {
    color: #fff
}

.highlight .nn {
    color: #fff
}

.highlight .nx {
    color: #fff
}

.highlight .py {
    color: #fff
}

.highlight .nt {
    color: #fb660a
}

.highlight .nv {
    color: #fb660a
}

.highlight .ow {
    color: #fff
}

.highlight .w {
    color: #888
}

.highlight .mf {
    color: #0086f7
}

.highlight .mh {
    color: #0086f7
}

.highlight .mi {
    color: #0086f7
}

.highlight .mo {
    color: #0086f7
}

.highlight .sb {
    color: #0086d2
}

.highlight .sc {
    color: #0086d2
}

.highlight .sd {
    color: #0086d2
}

.highlight .s2 {
    color: #0086d2
}

.highlight .se {
    color: #0086d2
}

.highlight .sh {
    color: #0086d2
}

.highlight .si {
    color: #0086d2
}

.highlight .sx {
    color: #0086d2
}

.highlight .sr {
    color: #0086d2
}

.highlight .s1 {
    color: #0086d2
}

.highlight .ss {
    color: #0086d2
}

.highlight .bp {
    color: #fff
}

.highlight .vc {
    color: #fb660a
}

.highlight .vg {
    color: #fb660a
}

.highlight .vi {
    color: #fb660a
}

.highlight .il {
    color: #0086f7
}

.common-background--black {
    background: #261B23
}

.common-background--grey {
    background: #F0E7E9
}

.common-background--white {
    background: #FFF
}

.common-border--bottom {
    border-bottom: 3px solid rgba(38, 27, 35, 0.035)
}

.common-border--top {
    border-top: 3px solid rgba(38, 27, 35, 0.035)
}

.common-button {
    background: #D30001;
    border: none;
    border-radius: 20px;
    box-sizing: border-box;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-size: 0;
    height: 39px;
    line-height: 39px;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background 0.25s cubic-bezier(0.33, 1, 0.68, 1), color 0.25s cubic-bezier(0.33, 1, 0.68, 1);
    user-select: none
}

.common-button span {
    display: inline-block;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: -0.006em;
    line-height: 21px;
    margin-left: 17px;
    margin-right: 17px;
    padding-bottom: 2px;
    position: relative;
    vertical-align: middle
}

.common-button:hover {
    background: #261B23
}

.common-button--version {
    background: #F0E7E9;
    border-radius: 6px !important;
    color: #261B23;
    height: auto !important;
    line-height: 0 !important
}

.common-button--version span {
    font-size: 21px;
    line-height: 22px;
    margin: 7px 15px 8px 15px;
    padding: 0 !important
}

.common-button--version:hover {
    background: #DCD3D5;
    color: #D30001
}

.common-button--text {
    background: none;
    border-radius: 0 !important;
    color: #261B23;
    height: auto !important;
    line-height: 0 !important;
    margin-bottom: -5px;
    margin-top: -7px
}

.common-button--text span {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: -0.01em;
    line-height: 28px;
    margin: 0 !important;
    padding: 0 !important;
    text-decoration: underline;
    text-decoration-thickness: 2px
}

.common-button--text:hover {
    background: none;
    color: #D30001
}

.common-button--icon-arrow span:after {
    background: url(../images/icon-button.svg) center center no-repeat;
    content: '';
    display: inline-block;
    filter: invert(5%) sepia(18%) saturate(1397%) hue-rotate(314deg) brightness(95%) contrast(83%);
    height: 14px;
    margin: 0 0 -1px 7px;
    transition: filter 0.25s cubic-bezier(0.33, 1, 0.68, 1);
    width: 9px
}

.common-button--icon-arrow:hover span:after {
    filter: invert(15%) sepia(95%) saturate(3482%) hue-rotate(354deg) brightness(82%) contrast(124%)
}

.common-button--size-large {
    border-radius: 22px;
    height: 44px;
    line-height: 44px
}

.common-button--size-large span {
    font-size: 23px;
    line-height: 27px;
    margin-left: 22px;
    margin-right: 22px
}

.common-button--color-black {
    background: #261B23;
    color: #FFF
}

.common-button--color-black:hover {
    background: #D30001
}

.common-button--color-red {
    background: #D30001;
    color: #FFF
}

.common-button--color-red:hover {
    background: #261B23
}

@media (min-width: 1024px) {
    .common-button {
        border-radius: 22px;
        height: 44px;
        line-height: 44px
    }

    .common-button span {
        font-size: 23px;
        line-height: 27px;
        margin-left: 22px;
        margin-right: 22px
    }

    .common-button--version span {
        font-size: 23px;
        line-height: 27px;
        margin: 8px 20px 9px 20px;
        padding: 0
    }

    .common-button--text {
        margin-bottom: -7px;
        margin-top: -8px
    }

    .common-button--text span {
        font-size: 31px;
        line-height: 34px
    }

    .common-button--icon-arrow span:after {
        margin: 0 0 0 9px
    }

    .common-button--size-large {
        border-radius: 30px;
        height: 59px;
        line-height: 59px
    }

    .common-button--size-large span {
        font-size: 28px;
        line-height: 33px;
        margin-left: 32px;
        margin-right: 32px
    }
}

.common-code {
    background: rgba(38, 27, 35, 0.9);
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0 1px 1px rgba(38, 27, 35, 0.1);
    text-align: left
}

.common-code h6 {
    background: linear-gradient(0deg, rgba(38, 27, 35, 0.5), rgba(38, 27, 35, 0));
    border-bottom: 1px solid rgba(38, 27, 35, 0.9);
    border-radius: 8px 8px 0 0;
    box-sizing: border-box;
    color: #DCD3D5;
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 4px;
    padding-top: 4px;
    text-align: center
}

.common-code pre {
    font-family: 'IBM Plex Mono', Monospace;
    font-style: normal;
    font-weight: 400;
    clear: both;
    color: #FFF;
    font-size: 13px;
    line-height: 23px;
    max-width: 100%;
    overflow-x: auto;
    padding: 22px 30px;
    white-space: pre
}

.common-content {
    color: #5A5153;
    font-size: 18px;
    line-height: 24px
}

.common-content h1,
.common-content h2,
.common-content h3,
.common-content h4,
.common-content h5,
.common-content h6 {
    color: #261B23;
    font-weight: 700;
    letter-spacing: -0.01em;
    padding-bottom: 18px
}

.common-content h1 {
    font-size: 42px;
    line-height: 38px
}

.common-content h2 {
    color: #D30001;
    font-size: 39px;
    line-height: 36px
}

.common-content h3 {
    color: #D30001;
    font-size: 36px;
    line-height: 34px
}

.common-content h4 {
    font-size: 39px;
    font-weight: 400;
    line-height: 36px
}

.common-content h5 {
    font-size: 29px;
    line-height: 30px
}

.common-content h6 {
    font-size: 23px;
    line-height: 26px
}

.common-content hr {
    background: rgba(38, 27, 35, 0.1);
    font-size: 0;
    height: 3px;
    line-height: 0;
    margin: 17px auto 43px auto;
    max-width: 360px;
    width: 50%
}

.common-content hr.divider {
    height: 8px;
    margin: 27px 0 53px 0;
    max-width: none;
    width: 100%
}

.common-content p,
.common-content ul,
.common-content ol {
    font-size: 18px;
    line-height: 24px
}

.common-content p {
    padding-bottom: 27px
}

.common-content ul,
.common-content ol {
    padding-bottom: 18px
}

.common-content ul li,
.common-content ol li {
    padding-bottom: 9px
}

.common-content ul li p,
.common-content ol li p {
    padding: 0
}

.common-content ul li ul,
.common-content ol li ul {
    margin-bottom: -9px;
    padding-bottom: 0;
    padding-top: 9px
}

.common-content ul {
    list-style: disc;
    padding-left: 25px
}

.common-content ul.unstyled {
    list-style: none;
    padding-left: 0
}

.common-content ol {
    counter-reset: item;
    list-style: none
}

.common-content ol li {
    counter-increment: item;
    padding-left: 40px;
    position: relative
}

.common-content ol li:before {
    font-family: 'IBM Plex Mono', Monospace;
    font-style: normal;
    font-weight: 400;
    background: rgba(38, 27, 35, 0.1);
    border-radius: 100%;
    color: #261B23;
    content: counter(item);
    height: 27px;
    font-size: 13px;
    left: 0;
    line-height: 27px;
    position: absolute;
    text-align: center;
    top: 1px;
    width: 27px
}

.common-content dl {
    padding-bottom: 27px
}

.common-content dl dt {
    color: #261B23;
    font-size: 23px;
    font-weight: 600;
    letter-spacing: -0.01em;
    line-height: 26px;
    padding-bottom: 3px
}

.common-content dl dd {
    color: #968D8F;
    font-size: 18px;
    line-height: 24px
}

.common-content blockquote {
    border-left: 2px solid rgba(38, 27, 35, 0.1);
    margin: 0 30px 27px 30px;
    padding: 10px 30px
}

.common-content blockquote *:last-child {
    padding-bottom: 0
}

.common-content a {
    color: #D30001;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-thickness: 2px
}

.common-content a b,
.common-content a strong {
    color: inherit
}

.common-content a:hover {
    color: #261B23
}

.common-content b,
.common-content strong {
    color: #261B23;
    font-weight: 700
}

.common-content i,
.common-content em {
    color: #261B23;
    font-style: italic;
    font-weight: 600
}

.common-content pre,
.common-content code {
    font-family: 'IBM Plex Mono', Monospace;
    font-style: normal;
    font-weight: 400;
    background: rgba(38, 27, 35, 0.9);
    border-radius: 4px;
    box-sizing: border-box;
    color: #FFF;
    font-size: 13px;
    line-height: 23px;
    text-align: left
}

.common-content pre {
    clear: both;
    display: block;
    margin-bottom: 33px;
    margin-top: 7px;
    max-width: 100%;
    overflow-x: auto;
    padding: 22px 30px;
    white-space: pre
}

.common-content pre code {
    background: none;
    padding: 0
}

.common-content code {
    display: inline-block;
    padding-left: 6px;
    padding-right: 6px
}

.common-content--size-large p,
.common-content--size-large ul,
.common-content--size-large ol {
    font-size: 23px;
    line-height: 27px
}

.common-content--post h1,
.common-content--post h2,
.common-content--post h3,
.common-content--post h4,
.common-content--post h5,
.common-content--post h6 {
    color: #261B23
}

.common-content--post h1 a,
.common-content--post h2 a,
.common-content--post h3 a,
.common-content--post h4 a,
.common-content--post h5 a,
.common-content--post h6 a {
    color: #261B23
}

.common-content--post h1 a:hover,
.common-content--post h2 a:hover,
.common-content--post h3 a:hover,
.common-content--post h4 a:hover,
.common-content--post h5 a:hover,
.common-content--post h6 a:hover {
    color: #D30001
}

@media (min-width: 1024px) {
    .common-content {
        font-size: 21px;
        line-height: 26px
    }

    .common-content h1 {
        font-size: 47px;
        line-height: 41px
    }

    .common-content h2 {
        font-size: 42px;
        line-height: 38px
    }

    .common-content h3 {
        font-size: 36px;
        line-height: 34px
    }

    .common-content h4 {
        font-size: 42px;
        line-height: 38px
    }

    .common-content h5 {
        font-size: 31px;
        line-height: 31px
    }

    .common-content h6 {
        font-size: 26px;
        line-height: 28px
    }

    .common-content p,
    .common-content ul,
    .common-content ol {
        font-size: 21px;
        line-height: 26px
    }

    .common-content--size-large p,
    .common-content--size-large ul,
    .common-content--size-large ol {
        font-size: 26px;
        letter-spacing: -0.006em;
        line-height: 29px
    }
}

.common-gradient--grey-to-white {
    background: linear-gradient(0deg, #FFF, #F0E7E9)
}

.common-gradient--white-to-grey {
    background: linear-gradient(0deg, #F0E7E9, #FFF)
}

.common-headline {
    color: #261B23;
    font-size: 18px;
    line-height: 24px
}

.common-headline h1 {
    color: #D30001;
    font-size: 47px;
    font-weight: 700;
    letter-spacing: -0.01em;
    line-height: 43px
}

.common-headline h2 {
    color: #D30001;
    font-size: 39px;
    font-weight: 700;
    letter-spacing: -0.01em;
    line-height: 38px
}

.common-headline h3 {
    color: #D30001;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -0.01em;
    line-height: 34px
}

.common-headline h4 {
    color: #261B23;
    font-size: 26px;
    letter-spacing: -0.006em;
    line-height: 29px
}

.common-headline h4 a {
    font-weight: 700
}

.common-headline h5 {
    color: #261B23;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: -0.006em;
    line-height: 26px
}

.common-headline h6 {
    color: #968D8F;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: -0.006em;
    line-height: 26px
}

.common-headline a {
    color: #261B23;
    text-decoration: underline;
    text-decoration-thickness: 2px
}

.common-headline a:hover {
    color: #D30001
}

.common-headline b,
.common-headline strong {
    color: #261B23;
    font-weight: 700
}

.common-headline i,
.common-headline em {
    color: #261B23;
    font-style: italic;
    font-weight: 600
}

@media (min-width: 1024px) {
    .common-headline {
        font-size: 21px;
        line-height: 26px
    }

    .common-headline h1 {
        font-size: 78px;
        line-height: 72px
    }

    .common-headline h2 {
        font-size: 55px;
        line-height: 52px
    }

    .common-headline h3 {
        font-size: 47px;
        line-height: 43px
    }

    .common-headline h4 {
        font-size: 39px;
        letter-spacing: -0.01em;
        line-height: 44px
    }
}

.common-padding--bottom {
    padding-bottom: 60px
}

.common-padding--bottom-small {
    padding-bottom: 40px
}

.common-padding--bottom-large {
    padding-bottom: 60px
}

.common-padding--top {
    padding-top: 60px
}

.common-padding--top-small {
    padding-top: 40px
}

.common-padding--top-large {
    padding-top: 60px
}

@media (min-width: 1024px) {
    .common-padding--bottom {
        padding-bottom: 80px
    }

    .common-padding--bottom-small {
        padding-bottom: 60px
    }

    .common-padding--bottom-large {
        padding-bottom: 120px
    }

    .common-padding--top {
        padding-top: 80px
    }

    .common-padding--top-small {
        padding-top: 60px
    }

    .common-padding--top-large {
        padding-top: 120px
    }
}

.common-shape--bottom-grey-down-left:after,
.common-shape--bottom-grey-down-right:after,
.common-shape--bottom-grey-up-left:after,
.common-shape--bottom-grey-up-right:after,
.common-shape--top-grey-down-left:after,
.common-shape--top-grey-down-right:after,
.common-shape--top-grey-up-left:after,
.common-shape--top-grey-up-right:after {
    filter: invert(97%) sepia(2%) saturate(669%) hue-rotate(314deg) brightness(96%) contrast(97%)
}

.common-shape--bottom-grey-down-left:before,
.common-shape--bottom-grey-down-right:before,
.common-shape--bottom-grey-up-left:before,
.common-shape--bottom-grey-up-right:before,
.common-shape--top-grey-down-left:before,
.common-shape--top-grey-down-right:before,
.common-shape--top-grey-up-left:before,
.common-shape--top-grey-up-right:before {
    filter: invert(97%) sepia(2%) saturate(669%) hue-rotate(314deg) brightness(96%) contrast(97%)
}

.common-shape--bottom-white-down-left:after,
.common-shape--bottom-white-down-right:after,
.common-shape--bottom-white-up-left:after,
.common-shape--bottom-white-up-right:after,
.common-shape--top-white-down-left:after,
.common-shape--top-white-down-right:after,
.common-shape--top-white-up-left:after,
.common-shape--top-white-up-right:after {
    filter: brightness(0) invert(1)
}

.common-shape--bottom-white-down-left:before,
.common-shape--bottom-white-down-right:before,
.common-shape--bottom-white-up-left:before,
.common-shape--bottom-white-up-right:before,
.common-shape--top-white-down-left:before,
.common-shape--top-white-down-right:before,
.common-shape--top-white-up-left:before,
.common-shape--top-white-up-right:before {
    filter: brightness(0) invert(1)
}

.common-shape--bottom-grey-down-left:after,
.common-shape--bottom-grey-down-right:after,
.common-shape--bottom-grey-up-left:after,
.common-shape--bottom-grey-up-right:after,
.common-shape--bottom-white-down-left:after,
.common-shape--bottom-white-down-right:after,
.common-shape--bottom-white-up-left:after,
.common-shape--bottom-white-up-right:after {
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    bottom: -1px;
    content: '';
    height: 10vw;
    left: 0;
    max-height: 160px;
    position: absolute;
    width: 100%
}

.common-shape--bottom-grey-down-left:after,
.common-shape--bottom-white-down-left:after {
    background-image: url(../images/shape-bottom-down-left.svg)
}

.common-shape--bottom-grey-down-right:after,
.common-shape--bottom-white-down-right:after {
    background-image: url(../images/shape-bottom-down-right.svg)
}

.common-shape--bottom-grey-up-left:after,
.common-shape--bottom-white-up-left:after {
    background-image: url(../images/shape-bottom-up-left.svg)
}

.common-shape--bottom-grey-up-right:after,
.common-shape--bottom-white-up-right:after {
    background-image: url(../images/shape-bottom-up-right.svg)
}

.common-shape--top-grey-down-left:before,
.common-shape--top-grey-down-right:before,
.common-shape--top-grey-up-left:before,
.common-shape--top-grey-up-right:before,
.common-shape--top-white-down-left:before,
.common-shape--top-white-down-right:before,
.common-shape--top-white-up-left:before,
.common-shape--top-white-up-right:before {
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
    height: 10vw;
    left: 0;
    max-height: 160px;
    position: absolute;
    top: -1px;
    width: 100%
}

.common-shape--top-grey-down-left:before,
.common-shape--top-white-down-left:before {
    background-image: url(../images/shape-top-down-left.svg)
}

.common-shape--top-grey-down-right:before,
.common-shape--top-white-down-right:before {
    background-image: url(../images/shape-top-down-right.svg)
}

.common-shape--top-grey-up-left:before,
.common-shape--top-white-up-left:before {
    background-image: url(../images/shape-top-up-left.svg)
}

.common-shape--top-grey-up-right:before,
.common-shape--top-white-up-right:before {
    background-image: url(../images/shape-top-up-right.svg)
}

.banner {
    padding: 0.8rem;
    font-weight: bold;
    text-align: center
}

.banner p {
    padding-bottom: 10px
}

@media (min-width: 768px) {
    .banner p {
        padding-bottom: 0
    }
}

.blog {
    position: relative
}

.blog .container {
    max-width: 1080px
}

.blog__posts,
.blog__pagination {
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
    width: calc(100% - 60px)
}

.blog__post {
    border-top: 3px solid rgba(38, 27, 35, 0.1);
    padding-top: 30px
}

.blog__post h6 {
    font-size: 21px;
    font-weight: 600;
    letter-spacing: -0.006em;
    line-height: 26px;
    margin-top: -7px
}

.blog__post dl {
    margin-bottom: -6px;
    margin-top: 1px
}

.blog__post dl dt {
    color: #261B23;
    font-size: 31px;
    font-weight: 700;
    letter-spacing: -0.006em;
    line-height: 34px
}

.blog__post dl dt a {
    color: #D30001;
    text-decoration: underline
}

.blog__post dl dt a:hover {
    color: #261B23
}

.blog__post dl dd {
    color: #5A5153;
    font-size: 21px;
    line-height: 26px;
    margin-top: 16px
}

.blog__post dl dd a {
    color: #D30001;
    text-decoration: underline
}

.blog__post dl dd a:hover {
    color: #261B23
}

.blog__post:not(:last-child) {
    padding-bottom: 30px
}

.blog__pagination {
    border-top: 3px solid rgba(38, 27, 35, 0.1);
    margin-top: 40px;
    padding-top: 80px;
    text-align: center
}

@media (min-width: 1024px) {

    .blog__posts,
    .blog__pagination {
        margin-left: 60px;
        margin-right: 60px;
        width: calc(100% - 120px)
    }

    .blog__post {
        display: flex;
        gap: 30px;
        padding-top: 40px
    }

    .blog__post h6 {
        flex: 1;
        margin-top: -1px
    }

    .blog__post dl {
        flex: 3;
        margin-top: -8px
    }

    .blog__post:not(:last-child) {
        padding-bottom: 40px
    }
}

.cards {
    font-size: 0;
    line-height: 0;
    position: relative
}

.cards .container {
    max-width: 1280px
}

.cards__container {
    display: grid;
    gap: 30px 0;
    margin: 3px 30px;
    z-index: 1
}

.cards .card {
    position: relative
}

.cards .card a,
.cards .card__body {
    width: 100%
}

.cards .card a {
    display: block
}

.cards .card a:hover .card__label h6 {
    background: #D30001
}

.cards .card a:hover .card__body {
    box-shadow: 0 3px 15px 2px rgba(38, 27, 35, 0.05), 0 1px 1px rgba(38, 27, 35, 0.02), 0 0 0 3px #D30001;
    transform: translateY(-3px)
}

.cards .card__label {
    position: absolute;
    text-align: center;
    top: -15px;
    width: 100%;
    z-index: 1
}

.cards .card__label h6 {
    background: #D30001;
    border-radius: 3px;
    color: #FFF;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.1em;
    line-height: 21px;
    padding: 3px 23px 3px 13px;
    position: relative;
    text-transform: uppercase;
    transition: background 0.25s cubic-bezier(0.33, 1, 0.68, 1)
}

.cards .card__label h6:after {
    background: url(../images/icon-card.svg) center center no-repeat;
    content: '';
    filter: brightness(0) invert(1);
    height: 9px;
    position: absolute;
    right: 11px;
    top: 9px;
    width: 6px
}

.cards .card__body {
    align-items: center;
    background: #FFF;
    border-radius: 8px;
    box-shadow: 0 3px 15px 2px rgba(38, 27, 35, 0.05), 0 1px 1px rgba(38, 27, 35, 0.02), 0 0 0 3px rgba(38, 27, 35, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: background 0.25s cubic-bezier(0.33, 1, 0.68, 1), box-shadow 0.25s cubic-bezier(0.33, 1, 0.68, 1), transform 0.25s cubic-bezier(0.33, 1, 0.68, 1)
}

.cards .card__headline,
.cards .card__content {
    margin-left: 30px;
    margin-right: 30px;
    text-align: center
}

.cards .card__headline {
    padding-bottom: 6px;
    padding-top: 32px
}

.cards .card__headline h3 {
    clear: both;
    color: #261B23;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: -0.01em;
    line-height: 31px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    transition: color 0.25s cubic-bezier(0.33, 1, 0.68, 1)
}

.cards .card__content {
    padding-bottom: 35px
}

.cards .card__content p {
    clear: both;
    color: #5A5153;
    font-size: 18px;
    line-height: 23px;
    margin-left: auto;
    margin-right: auto;
    transition: color 0.25s cubic-bezier(0.33, 1, 0.68, 1)
}

@media (min-width: 768px) {
    .cards__container {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px
    }

    .cards .card {
        height: 30vw;
        max-height: 150px
    }

    .cards .card a,
    .cards .card__body {
        height: 100%;
        position: absolute
    }
}

@media (min-width: 1024px) {
    .cards__container {
        grid-template-columns: repeat(3, 1fr);
        margin-left: 60px;
        margin-right: 60px
    }
}

.core {
    font-size: 0;
    line-height: 0;
    position: relative
}

.core .container {
    max-width: 1240px
}

.core__body {
    background: #FFF;
    border-radius: 12px;
    box-shadow: 0 15px 70px 5px rgba(38, 27, 35, 0.15), 0 1px 1px rgba(38, 27, 35, 0.04);
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 40px;
    padding-top: 40px;
    position: relative;
    text-align: center;
    z-index: 1
}

.core__headline,
.core__content {
    margin-left: 30px;
    margin-right: 30px;
    position: relative
}

.core__headline {
    margin-bottom: -6px;
    margin-top: -8px
}

.core__headline--padding-top {
    margin-top: 52px
}

.core__content {
    margin-bottom: -33px;
    margin-top: 23px
}

.core__content.common-content--size-large {
    margin-bottom: -34px;
    margin-top: 22px
}

.core__content--padding-top {
    margin-top: 53px
}

.core__content--border-top {
    margin-top: 60px;
    padding-top: 61px
}

.core__content--border-top:before {
    background: rgba(38, 27, 35, 0.1);
    content: '';
    height: 8px;
    left: 20%;
    position: absolute;
    top: 0;
    width: 60%
}

.core__members {
    margin: 40px 15px -40px 15px
}

.core__member {
    display: inline-block;
    margin: 0 15px 40px 15px;
    max-width: 105px;
    width: calc(100% - 30px)
}

.core__member__image a {
    border: 2px solid rgba(38, 27, 35, 0.15);
    border-radius: 100%;
    display: inline-block;
    height: 86px;
    transition: border 0.25s cubic-bezier(0.33, 1, 0.68, 1);
    width: 86px
}

.core__member__image a figure {
    border-radius: 100%;
    height: 82px;
    margin: 2px;
    overflow: hidden;
    width: 82px
}

.core__member__image a:hover {
    border-color: #D30001
}

.core__member__content {
    margin-top: 9px
}

.core__member__content h3 {
    color: #D30001;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: -0.01em;
    line-height: 27px
}

.core__member__content h3 a {
    color: #D30001;
    text-decoration: underline;
    text-decoration-thickness: 2px
}

.core__member__content h3 a:hover {
    color: #261B23
}

.core__member__content h4 {
    color: #261B23;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: -0.006em;
    line-height: 26px
}

.core__member__content h5 {
    font-family: 'IBM Plex Mono', Monospace;
    font-style: normal;
    font-weight: 400;
    color: #5A5153;
    font-size: 13px;
    font-style: italic;
    font-weight: 500;
    line-height: 17px;
    margin-top: 5px
}

.core__member__content h6 {
    font-family: 'IBM Plex Mono', Monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    font-weight: 700;
    line-height: 17px;
    margin-top: 11px
}

.core__member__content h6 a {
    background: #E6DDDF;
    border-radius: 13px;
    color: #5A5153;
    display: inline-block;
    padding: 4px 12px;
    transition: background 0.25s cubic-bezier(0.33, 1, 0.68, 1), color 0.25s cubic-bezier(0.33, 1, 0.68, 1)
}

.core__member__content h6 a:hover {
    background: #D30001;
    color: #FFF
}

@media (min-width: 1024px) {
    .core__body {
        padding-bottom: 80px;
        padding-top: 80px;
        margin-left: 60px;
        margin-right: 60px
    }

    .core__headline,
    .core__content {
        margin-left: 120px;
        margin-right: 120px
    }

    .core__members {
        margin-left: 45px;
        margin-right: 45px
    }

    .core__member {
        max-width: 120px
    }
}

.example {
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    position: relative
}

.example__body {
    display: grid;
    gap: 40px 0;
    margin-left: 30px;
    margin-right: 30px;
    z-index: 1
}

.example__block {
    position: relative
}

.example__content {
    margin-bottom: -33px;
    margin-top: 23px;
    text-align: center
}

.example__arrow {
    bottom: -15px;
    filter: invert(41%) sepia(100%) saturate(3911%) hue-rotate(340deg) brightness(104%) contrast(100%);
    height: 66px;
    position: absolute;
    right: -116px;
    transform: rotate(115deg);
    transform-origin: bottom left;
    width: 125px;
    z-index: 1
}

@media (min-width: 768px) {
    .example__body {
        gap: 60px 30px;
        grid-template-columns: repeat(2, 1fr)
    }

    .example__content {
        margin-left: 30px;
        margin-right: 30px
    }

    .example__arrow {
        bottom: auto;
        right: -75px;
        top: 130px;
        transform: none;
        transform-origin: center right
    }
}

@media (min-width: 1024px) {
    .example__body {
        margin-left: 60px;
        margin-right: 60px
    }
}

.features__headline,
.features__body {
    margin-left: 30px;
    margin-right: 30px;
    position: relative
}

.features__headline {
    color: #261B23;
    margin-bottom: 17px;
    margin-top: -7px
}

.features__headline h4 {
    color: #D30001;
    font-weight: 700
}

.features__headline p {
    padding-bottom: 17px
}

.features__body--padding-bottom {
    padding-bottom: 60px
}

.features__subhead {
    border-bottom: 3px solid rgba(38, 27, 35, 0.1);
    margin-bottom: 30px;
    margin-top: -7px;
    padding-bottom: 25px
}

.features__subhead h5 {
    padding-bottom: 0
}

.features__blocks {
    display: grid;
    gap: 40px 0
}

.features__block {
    margin-bottom: -33px;
    margin-top: -7px
}

.features__block h6 {
    font-size: 21px;
    font-weight: 600;
    line-height: 25px;
    padding-bottom: 8px
}

@media (min-width: 768px) {
    .features__blocks {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px 30px
    }

    .features__block--code,
    .features__block--full {
        grid-column: 1 / span 2
    }
}

@media (min-width: 1024px) {

    .features__headline,
    .features__body {
        margin-left: 60px;
        margin-right: 60px
    }

    .features__body {
        border-top: 3px solid rgba(38, 27, 35, 0.1);
        display: flex;
        gap: 30px
    }

    .features__body--padding-bottom {
        padding-bottom: 80px
    }

    .features__subhead {
        border-bottom: none;
        flex: 1;
        margin-bottom: 0;
        margin-top: 47px;
        padding-bottom: 0
    }

    .features__blocks {
        flex: 3;
        gap: 60px;
        margin-top: 60px
    }
}

.footer {
    overflow: hidden;
    position: relative
}

.footer__logo,
.footer__options {
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
    text-align: center;
    width: calc(100% - 60px)
}

.footer__logo a {
    display: inline-block;
    height: 32px;
    position: relative;
    width: 90px
}

.footer__logo a:after {
    background: url(../images/logo.svg) center center no-repeat;
    content: '';
    filter: invert(15%) sepia(95%) saturate(3482%) hue-rotate(354deg) brightness(82%) contrast(124%);
    height: 32px;
    left: 0;
    position: absolute;
    top: 0;
    width: 90px
}

.footer__logo a:hover:after {
    filter: invert(5%) sepia(18%) saturate(1397%) hue-rotate(314deg) brightness(95%) contrast(83%)
}

.footer__options {
    margin-bottom: -5px;
    margin-top: 33px
}

.footer__options ul li {
    font-size: 18px;
    line-height: 23px
}

.footer__options ul li a {
    color: #5A5153;
    display: inline-block
}

.footer__options ul li a:hover {
    color: #261B23;
    text-decoration: underline
}

.footer__options ul li:not(:last-child) {
    margin-bottom: 8px
}

@media (min-width: 568px) {
    .footer__options ul li {
        display: inline-block
    }

    .footer__options ul li:not(:last-child) {
        margin-bottom: 0;
        margin-right: 30px
    }
}

@media (min-width: 1024px) {

    .footer__logo,
    .footer__options {
        margin-left: 60px;
        margin-right: 60px;
        width: calc(100% - 120px)
    }
}

.heading {
    font-size: 0;
    line-height: 0;
    position: relative
}

.heading .container {
    max-width: 1080px
}

.heading__body {
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
    text-align: center;
    width: calc(100% - 60px);
    z-index: 2
}

.heading__headline {
    margin-bottom: -6px;
    margin-top: -8px
}

.heading__headline h3 {
    padding-bottom: 3px
}

.heading__headline h4 {
    padding-top: 17px
}

.heading__headline--no-h1 h3 {
    padding-top: 7px
}

.heading__headline--no-h1 h4 {
    padding-top: 3px
}

.heading__content {
    color: #5A5153;
    margin-bottom: -33px;
    margin-top: -7px
}

.heading__content--has-headline {
    margin-top: 33px
}

.heading__button {
    margin-top: 30px
}

.heading__buttons {
    font-size: 0;
    line-height: 0
}

.heading__buttons ul li a {
    display: inline-block;
    text-decoration: none
}

.heading__buttons ul li a span {
    background: none;
    border-radius: 6px;
    color: #261B23;
    display: block;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.006em;
    line-height: 32px;
    padding: 0 12px;
    transition: background 0.25s cubic-bezier(0.33, 1, 0.68, 1), color 0.25s cubic-bezier(0.33, 1, 0.68, 1)
}

.heading__buttons ul li a:hover span {
    background: #F0E7E9;
    color: #D30001
}

.heading--align-left .heading__body {
    text-align: left
}

.heading--frame-grey .heading__body,
.heading--frame-white .heading__body {
    border-radius: 12px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 40px 30px;
    width: calc(100% - 120px)
}

.heading--frame-grey .heading__body {
    background: #E6DDDF
}

.heading--frame-white .heading__body {
    background: #FFF;
    box-shadow: 0 15px 70px 5px rgba(38, 27, 35, 0.15), 0 1px 1px rgba(38, 27, 35, 0.04)
}

@media (min-width: 375px) {
    .heading__buttons ul li {
        display: inline-block
    }
}

@media (min-width: 1024px) {
    .heading__body {
        margin-left: 60px;
        margin-right: 60px;
        width: calc(100% - 120px)
    }

    .heading__headline {
        margin-bottom: -9px;
        margin-top: -15px
    }

    .heading__headline h2 {
        padding-bottom: 2px;
        padding-top: 4px
    }

    .heading__headline h4 {
        padding-top: 20px
    }

    .heading__button {
        margin-top: 40px
    }

    .heading__buttons ul li a span {
        font-size: 23px;
        line-height: 42px;
        padding: 0 20px 2px 20px
    }

    .heading--frame-grey .container,
    .heading--frame-white .container {
        max-width: 1320px
    }

    .heading--frame-grey .heading__body,
    .heading--frame-white .heading__body {
        margin-left: 60px;
        margin-right: 60px;
        padding: 80px 120px;
        width: calc(100% - 360px)
    }
}

.icon {
    display: inline-block;
    padding-left: 19px;
    position: relative
}

.icon:after {
    background-position: center center;
    background-repeat: no-repeat;
    content: '';
    filter: invert(15%) sepia(95%) saturate(3482%) hue-rotate(354deg) brightness(82%) contrast(124%);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: filter 0.25s cubic-bezier(0.33, 1, 0.68, 1);
    width: 15px
}

.icon:hover:after {
    filter: invert(5%) sepia(18%) saturate(1397%) hue-rotate(314deg) brightness(95%) contrast(83%)
}

.icon--twitter {
    padding-left: 23px
}

.icon--twitter:after {
    background-image: url(../images/icon-twitter.svg);
    width: 19px
}

.icon--world:after {
    background-image: url(../images/icon-world.svg)
}

.language {
    display: inline-block;
    height: 41px;
    margin-top: 30px;
    position: relative;
    width: 180px
}

.language__checkbox,
.language__toggle {
    height: 41px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2
}

.language__checkbox {
    appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -webkit-appearance: none;
    border: none;
    background: none
}

.language__checkbox:checked~.language__options {
    transform: translate(0, 10px)
}

.language__checkbox:checked~.language__options ul {
    box-shadow: 0 15px 70px 5px rgba(38, 27, 35, 0.15), 0 1px 1px rgba(38, 27, 35, 0.04);
    height: 256px
}

.language__checkbox:checked~.language__toggle {
    background: #FFF
}

.language__toggle {
    background: #F0E7E9;
    border-radius: 6px;
    color: #261B23;
    cursor: pointer;
    text-align: center;
    transition: background 0.25s cubic-bezier(0.33, 1, 0.68, 1), color 0.25s cubic-bezier(0.33, 1, 0.68, 1)
}

.language__toggle span {
    display: block;
    font-size: 18px;
    line-height: 24px;
    padding: 8px 15px 9px 15px
}

.language__toggle:after {
    background: url(../images/icon-language.svg) center center no-repeat;
    bottom: 15px;
    content: '';
    filter: invert(5%) sepia(18%) saturate(1397%) hue-rotate(314deg) brightness(95%) contrast(83%);
    height: 11px;
    position: absolute;
    right: 14px;
    width: 7px
}

.language__toggle:hover {
    background: #E6DDDF
}

.language__options {
    position: relative;
    transition: transform 0.25s cubic-bezier(0.33, 1, 0.68, 1);
    z-index: 1
}

.language__options ul {
    background: #FFF;
    border-radius: 6px;
    height: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: box-shadow 0.25s cubic-bezier(0.33, 1, 0.68, 1), height 0.25s cubic-bezier(0.33, 1, 0.68, 1);
    width: 100%
}

.language__options ul li a {
    display: block
}

.language__options ul li a span {
    background: none;
    border-radius: 4px;
    color: #968D8F;
    display: block;
    font-size: 18px;
    line-height: 24px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 5px 15px 6px 15px;
    transition: background 0.25s cubic-bezier(0.33, 1, 0.68, 1), color 0.25s cubic-bezier(0.33, 1, 0.68, 1)
}

.language__options ul li a:hover span {
    background: #F0E7E9;
    color: #261B23
}

.language__options ul li:first-child {
    padding-top: 31px
}

.language__options ul li:last-child {
    padding-bottom: 15px
}

.layout {
    background: #FFF;
    position: relative
}

.nav {
    background: #FFF;
    font-size: 0;
    height: 106px;
    line-height: 0;
    position: relative;
    z-index: 1000
}

.nav__logo {
    background: #D30001;
    border-radius: 100%;
    height: 86px;
    left: calc(50% - 43px);
    position: absolute;
    top: 20px;
    transition: background 0.25s cubic-bezier(0.33, 1, 0.68, 1);
    width: 86px;
    z-index: 2
}

.nav__logo:after {
    background-image: url(../images/logo.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
    filter: brightness(0) invert(1);
    height: 24px;
    left: 9px;
    position: absolute;
    top: 26px;
    width: 67px
}

.nav__logo:hover {
    background: #261B23
}

.nav__options {
    position: relative;
    transform: translate(0, -10px);
    transition: transform 0.25s cubic-bezier(0.33, 1, 0.68, 1);
    z-index: 1
}

.nav__options div {
    background: #FFF;
    height: 0;
    left: 0;
    overflow: hidden;
    padding-top: 106px;
    position: absolute;
    top: 0;
    transition: box-shadow 0.25s cubic-bezier(0.33, 1, 0.68, 1), height 0.25s cubic-bezier(0.33, 1, 0.68, 1);
    width: 100%
}

.nav__options ul li {
    text-align: center
}

.nav__options ul li a {
    display: inline-block
}

.nav__options ul li a span {
    background: none;
    border-radius: 6px;
    color: #261B23;
    display: block;
    font-size: 23px;
    font-weight: 600;
    letter-spacing: -0.006em;
    line-height: 42px;
    padding: 0 20px 2px 20px;
    transition: background 0.25s cubic-bezier(0.33, 1, 0.68, 1), color 0.25s cubic-bezier(0.33, 1, 0.68, 1)
}

.nav__options ul li a:hover span {
    background: #F0E7E9;
    color: #D30001
}

.nav__options ul:first-child {
    padding-top: 15px
}

.nav__options ul:last-child {
    padding-bottom: 15px
}

.nav__checkbox,
.nav__toggle {
    height: 60px;
    position: absolute;
    right: 12px;
    top: 33px;
    width: 60px;
    z-index: 2
}

.nav__checkbox {
    appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -webkit-appearance: none;
    border: none;
    background: none
}

.nav__checkbox:checked~.nav__options {
    transform: translate(0, 0)
}

.nav__checkbox:checked~.nav__options div {
    box-shadow: 0 15px 70px 5px rgba(38, 27, 35, 0.15), 0 1px 1px rgba(38, 27, 35, 0.04);
    height: 338px
}

.nav__checkbox:checked~.nav__toggle span {
    transform: rotate(180deg) scale(0.9)
}

.nav__checkbox:checked~.nav__toggle span:before,
.nav__checkbox:checked~.nav__toggle span:after {
    top: 50%
}

.nav__checkbox:checked~.nav__toggle span:before {
    transform: rotate(45deg)
}

.nav__checkbox:checked~.nav__toggle span:after {
    transform: rotate(-45deg)
}

.nav__toggle {
    cursor: pointer
}

.nav__toggle span {
    display: block;
    height: 24px;
    margin: 18px;
    position: relative;
    transition: transform 0.25s cubic-bezier(0.33, 1, 0.68, 1);
    width: 24px
}

.nav__toggle span:before,
.nav__toggle span:after {
    background: #261B23;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    transition: background 0.25s cubic-bezier(0.33, 1, 0.68, 1), top 0.25s cubic-bezier(0.33, 1, 0.68, 1), transform 0.25s cubic-bezier(0.33, 1, 0.68, 1);
    width: 100%
}

.nav__toggle span:before {
    top: 7px
}

.nav__toggle span:after {
    top: 15px
}

.nav__toggle:hover span:before,
.nav__toggle:hover span:after {
    background: #D30001
}

@media (min-width: 768px) {
    .nav__options {
        transform: none;
        transition: none
    }

    .nav__options div {
        background: none;
        height: auto;
        left: auto;
        overflow: visible;
        padding-top: 0;
        position: static;
        top: auto;
        transition: none
    }

    .nav__options ul {
        position: absolute;
        top: 47px
    }

    .nav__options ul li {
        display: inline-block
    }

    .nav__options ul li a span {
        font-size: 19px;
        line-height: 32px;
        padding: 0 15px
    }

    .nav__options ul:first-child {
        padding-top: 0;
        right: calc(50% + 63px)
    }

    .nav__options ul:last-child {
        left: calc(50% + 63px);
        padding-bottom: 0
    }

    .nav__checkbox,
    .nav__toggle {
        display: none
    }

    .nav__checkbox:checked~.nav__options {
        transform: none
    }

    .nav__checkbox:checked~.nav__options div {
        box-shadow: none;
        height: auto
    }
}

@media (min-width: 1024px) {
    .nav {
        height: 132px
    }

    .nav__logo {
        height: 112px;
        left: calc(50% - 56px);
        width: 112px
    }

    .nav__logo:after {
        height: 32px;
        left: 11px;
        top: 33px;
        width: 90px
    }

    .nav__options ul {
        top: 54px
    }

    .nav__options ul li a span {
        font-size: 23px;
        line-height: 42px;
        padding: 0 20px 2px 20px
    }

    .nav__options ul:first-child {
        right: calc(50% + 76px)
    }

    .nav__options ul:last-child {
        left: calc(50% + 76px)
    }
}

.notification {
    background: #FFF;
    position: relative;
    text-align: center
}

.notification p {
    display: inline-block;
    background: #D30001;
    border-radius: 6px;
    color: #FFF;
    font-size: 17px;
    line-height: 21px;
    margin: 20px 30px 0 30px;
    max-width: 1120px;
    padding: 10px 20px;
    width: calc(100% - 100px)
}

.notification p a {
    color: #FFF;
    font-weight: 600;
    text-decoration: underline
}

.notification p a:hover {
    color: rgba(255, 255, 255, 0.9)
}

@media (min-width: 1024px) {
    .notification p {
        margin-left: 60px;
        margin-right: 60px;
        width: calc(100% - 160px)
    }
}

.post {
    font-size: 0;
    line-height: 0
}

.post .container {
    max-width: 840px
}

.post__headline {
    margin: -7px 30px -6px 30px;
    text-align: center
}

.post__headline h5 {
    margin-bottom: 16px
}

.post__headline h6 {
    font-weight: 400;
    margin-top: 17px
}

.post__content {
    border-top: 3px solid rgba(38, 27, 35, 0.1);
    margin: 60px 30px -33px 30px;
    padding-top: 33px
}

.post__content h1 a,
.post__content h2 a,
.post__content h3 a,
.post__content h4 a,
.post__content h5 a,
.post__content h6 a {
    font-weight: inherit
}

.post__pagination {
    border-top: 3px solid rgba(38, 27, 35, 0.1);
    margin: 40px 30px -5px 30px;
    padding-top: 33px;
    text-align: center
}

.post__pagination dl dt {
    color: #261B23;
    font-size: 21px;
    font-weight: 600;
    line-height: 26px;
    padding-bottom: 17px
}

.post__pagination dl dd {
    color: #D30001;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -0.01em;
    line-height: 34px
}

.post__pagination dl dd a {
    color: #D30001;
    text-decoration: underline
}

.post__pagination dl dd a:hover {
    color: #261B23
}

@media (min-width: 1024px) {

    .post__headline,
    .post__content,
    .post__pagination {
        margin-left: 60px;
        margin-right: 60px
    }

    .post__headline {
        margin-bottom: -7px
    }

    .post__headline h5 {
        margin-bottom: 13px
    }

    .post__headline h6 {
        margin-top: 16px;
        padding-bottom: 1px
    }

    .post__content {
        margin-top: 60px;
        padding-top: 53px
    }

    .post__pagination {
        margin-top: 60px;
        padding-top: 53px
    }

    .post__pagination dl dd {
        font-size: 42px;
        line-height: 38px
    }
}

.text {
    font-size: 0;
    line-height: 0;
    position: relative
}

.text .container {
    max-width: 840px
}

.text__body {
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
    z-index: 1
}

.text__content {
    margin-bottom: -33px;
    margin-top: -7px
}

.text__button {
    margin-top: 50px
}

.text--align-center {
    text-align: center
}

.text--align-center .text__content ul {
    display: inline-block;
    list-style-position: inside
}

.text--frame-grey .text__body,
.text--frame-white .text__body {
    border-radius: 8px;
    padding: 30px;
    margin-left: 30px;
    margin-right: 30px;
    z-index: 1
}

.text--frame-grey .text__body {
    background: #E6DDDF
}

.text--frame-white .text__body {
    background: #FFF;
    box-shadow: 0 15px 70px 5px rgba(38, 27, 35, 0.15), 0 1px 1px rgba(38, 27, 35, 0.04)
}

@media (min-width: 1024px) {
    .text__body {
        margin-left: 60px;
        margin-right: 60px
    }

    .text--frame-grey .container,
    .text--frame-white .container {
        max-width: 960px
    }

    .text--frame-grey .text__body,
    .text--frame-white .text__body {
        padding: 60px;
        margin-left: 60px;
        margin-right: 60px
    }
}

.trusted {
    font-size: 15px;
    line-height: 0;
    position: relative;
}

.trusted .container {
    max-width: 1080px
}

.trusted__blocks {
    margin: -5px 30px;
    position: relative;
    text-align: center;
    width: calc(100% - 60px);
    z-index: 1;
}

.trusted__block {
    display: inline-block;
    margin: 5px;
    position: relative;
    width: calc(50% - 10px)
}

.trusted__block a {
    background: #F0E7E9;
    border-radius: 8px;
    box-shadow: 0 0 0 3px rgba(211, 0, 1, 0);
    display: block;
    padding: 20px;
    position: relative;
    text-align: center;
    transition: background 0.25s cubic-bezier(0.33, 1, 0.68, 1), box-shadow 0.25s cubic-bezier(0.33, 1, 0.68, 1), transform 0.25s cubic-bezier(0.33, 1, 0.68, 1);
}

.trusted__block a img {
    width: auto;
}

.trusted__block a:hover {
    background: #FFF;
    box-shadow: 0 0 0 3px #D30001;
    transform: translateY(-3px)
}

@media (min-width: 667px) {
    .trusted__block {
        width: calc(33.33% - 10px)
    }
}

@media (min-width: 1024px) {
    .trusted__blocks {
        margin: -10px 60px;
        width: calc(100% - 120px)
    }

    .trusted__block {
        margin: 10px;
        width: calc(15% - -69px)
    }
}

.video {
    font-size: 0;
    line-height: 0;
    position: relative
}

.video .container {
    max-width: 1280px
}

.video__embed {
    margin: 0 auto; /* Establece margen automático en los ejes vertical y horizontal */
    display: block; /* Asegura que el elemento sea un bloque */
    text-align: center; /* Centra cualquier contenido dentro del elemento */
}

.video__embed video {
    background: #FFF;
    border-radius: 8px;
    box-shadow: 0 15px 70px 5px rgba(38, 27, 35, 0.15), 0 1px 1px rgba(38, 27, 35, 0.04);
    display: block;
    height: auto;
    max-width: 100%;
    overflow: hidden
}

@media (min-width: 1024px) {
    .video__embed {
        margin-left: 60px;
        margin-right: 60px
    }
}